body, html{
    height:2500px;
    overflow-x:hidden;
    font-family: 'Montserrat';
}

body{
    margin:0;
    padding:0;
    background: rgb(123,146,157);
background: linear-gradient(180deg, rgba(123,146,157,1) 0%, rgba(177,206,219,1) 51%, rgba(199,231,246,1) 100%);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#rainContainer{
    z-index: -1;
    width:100%;
    height:100%;
    position: absolute;
    display:flex;
    flex-direction: row;
}

#drops1, #drops2{
    position:absolute;
    width:100%;
    height:100%;
    animation: moveRight 25s linear infinite;
}

#drops1{
    left:-100%;
}

.drop {
    background:linear-gradient(transparent,#ffffff);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 3px;
    height: 15px;   
    top:-20px;
    transition: opacity 1s;
    position: absolute;
    animation: fall 1.5s linear infinite;
}

@keyframes fall {
    from { transform: translateY(0px);}
    to { transform: translateY(2500px);}
}

@keyframes moveRight {
    from {transform: translateX(0%);}
    to {transform: translateX(100%);}
}

#cloudContainer {
    position:absolute;
    height:100px;
    width:100%;
    margin-top:-30vh;
    transition: 0.4s;
}

#cloudContainer img{
    z-index:-1;
    position:absolute;
    filter:brightness(87%);
    animation-delay: -5s;
}

#clouds1 img{
    animation: slideRight calc(15s * var(--i)) linear infinite;
}

#clouds2 img{
    animation: slideLeft calc(15s * var(--j)) linear infinite;
}

@keyframes slideRight {
    from{transform: translateX(-180vw);}
    to{transform: translateX(180vw);}
}

@keyframes slideLeft{
    from{transform: translateX(180vw);}
    to{transform: translateX(-180vw);}
}

#navMenu {
    z-index: 9;
    color:rgba(0, 0, 0, 0.66);
    font-weight:bolder;
    position:fixed;
    margin-top:20px;
    top:40px;
    left:50%;
    width:100%;
    transform:translate(-50%,-50%);
    display:flex;
    justify-content: center;
}

#navMenuText{
    display:flex;
}

.navText{
    font-size:15px;
    padding:0 5vw;
    height:60px;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    display:flex;
}

.navText:hover{
    background-color: rgba(194, 218, 231, 0.645);
    backdrop-filter: blur(30px);
    transition: 0.2s;
}

.navText:not(:hover){
    background-color:transparent;
    transition: 0.3s;
}

#welcome{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    text-align:center;
    white-space:nowrap;
    width:100vw;
    height:100vh;
    color:rgb(231, 230, 230);
    margin-bottom:10vh;
}

#welcomeText{
    -webkit-box-reflect: below 5px linear-gradient(transparent, rgba(255, 255, 255, 0.218));
}

#welcomeHeading{  
    font-size:37px;
    font-weight:1000;
    position:relative;
    transition: 0.4s linear;
}

#welcomeBody{
    font-size:14px;
    font-weight:500;
    transition: 0.4s linear;
}

#umbrella{
    position:relative;
}

#umbrella img{
    z-index:-1;
    position:absolute;
    width:60px;
    transform:rotate(20deg);
    left:-20px;
    bottom:5px;
}

#welcomeHR{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    width:70%;
    height:2px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 50px;
}

#aboutSection{
    width:88%;
    display:flex;
    flex-direction: column;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
    border: solid rgb(89, 114, 125) 1px;
    background-color: rgba(228, 226, 226, 0.377);
    backdrop-filter: blur(20px);
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgb(89, 114, 125);

}

#rainGif{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#aboutText{
    padding:20px;
    display:flex;
    flex-direction: column;
    gap:7px;
}

#aboutTextHeading{
    font-size:18px;
    font-weight:600;
    color:rgb(59, 75, 82);
}

#aboutTextBody{
    font-size:14px;
}

#leavesContainer{
    width:100%;
    margin-top:-123px;
    position:relative;
}

#leaves1 {
    transform: rotate(-90deg);
    width:300px;
    right:70px;
    position:absolute;
}

@media only screen and (min-width: 480px){
    #aboutSection{
        width:80%;
    }

    #aboutTextHeading{
        font-size:21px;
    }

    #aboutTextBody{
        font-size:17px;
    }

}

@media only screen and (min-width: 768px){
    .navText{
        font-size:16px;
    }

    #welcomeHeading{
        font-size:55px;
    }

    #welcomeBody{
        font-size:19px;
    }

    #umbrella img{
        width:85px;
        left: -27px;
        bottom: 8px;
    }

    #aboutSection{
        flex-direction:row;
        width:82%;
        border:none;
        box-shadow:none;
        background-color:transparent;
        gap:30px;
    }

    #aboutText{
        padding:20px;
        border: solid transparent 1px;
        background-color: rgba(228, 226, 226, 0.377);
        backdrop-filter: blur(20px);
        border-radius: 6px;
        box-shadow: 5px 5px 10px rgb(89, 114, 125);
    }

    #aboutTextHeading{
        font-size:19px;
    }

    #aboutTextBody{
        font-size:14px;
    }

    #rainGif{
        width:60%;
        box-shadow: 5px 5px 10px rgb(89, 114, 125);
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    #leaves1{
        transform: rotate(0);
        transform: scaleX(-1);
        transform: rotate(90deg);
        left:70px;
        top:-160px;
    }
}

@media only screen and (min-width: 1024px){
    #welcomeHeading{
        font-size:70px;
    }

    #welcomeBody{
        font-size:25px;
    }

    #umbrella img{
        width:115px;
        left:-38px;
        bottom: 10px;
    }


    #welcomeHR{
        margin-bottom:70px;
    }
    
    #aboutSection{
        width:78%;
    }

    #rainGif{
        width:70%;
    }

    #aboutText{
        width:40%;
        padding:30px;
        gap:10px;
    }

    #aboutTextHeading{
        font-size:22px;
    }

    #aboutTextBody{
        font-size:17px;
    }

    #leaves1{
        width:410px;
        left:70px;
        top:-270px;
    }
}
